@import '../../asstes/style/media-queries.scss';
.newsletter{
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .imgNewsletter{
    position: absolute;
    right: 0;
  }
  .newsletterContent{
    z-index: 1;
    position: relative;

    .newsletterText{
      display: flex;
      position: relative;
      background: linear-gradient(to top, transparent 20%, var(--orange) 20% 80%, transparent 80% 100%);
      .textVertical{
        font-family: 'montserratlight';
        font-size: 5rem;
        letter-spacing: .6rem;
        writing-mode: vertical-lr;
        transform: scale(-1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6rem;
        p{
          margin: 0;
        }
      }
      .textHorizontal{
        flex: 1;
        display: flex;
        flex-direction: column;
        .titre{
          font-size: 4.2rem;
          font-family: 'latoblack';
          letter-spacing: .6rem;
          margin-bottom: 3rem;
        }
        .text{
          font-family: 'latomedium';
          font-size: 3.3rem;
          p{
            margin: 2rem 0;
          }
        }    
      }  
    }    
  }
}