@import '../../asstes/style/media-queries.scss';
.newsletter{
  color: var(--white);
  min-height: 61rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .imgNewsletter{
    position: absolute;
    right: 0;
  }
  .newsletterContent{
    z-index: 1;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 25%;
      right: 25%;
      width: 60%;
      height: 55%;
      background: var(--orange);
      z-index: -1;
      @include xl{
        right: 35%;
      }
      @include l{
        right: 30%;
      }
      @include md{
        //a faire
      }

    }
    .newsletterText{
      display: flex;
      .textVertical{
        font-family: 'montserratlight';
        font-size: 5rem;
        letter-spacing: .6rem;
        writing-mode: vertical-lr;
        transform: scale(-1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6rem;
        p{
          margin: 0;
        }
      }
      .textHorizontal{
        flex: 1;
        display: flex;
        flex-direction: column;
        .titre{
          font-size: 4.2rem;
          font-family: 'latoblack';
          letter-spacing: .6rem;
          margin-bottom: 3rem;
        }
        .text{
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-family: 'latomedium';
          font-size: 3.3rem;
          p{
            margin:0
          }
        }    
      }  
    }    
  }
}