:root{
  --white:#ffffff;
  --black:#000000;
  --orange:#ffba00;
  --yellow:#ffda00;
  --marron:#483500;
  --black:#242424;
  --bgWidthHeader:calc((100% - 690px)/2); // 690: container - taille logo *2
}